Третий блок:
1. Откройте уже спарсенный и готовый для работы датасет «data.csv». Это спарсенные данные с сайта head hunter. URL: http://hh.kz/search/resume.

In [30]:
import pandas as pd

In [31]:
df = pd.read_csv ("C:\\Users\\Пользователь\\Jupyter_Academica\\data.csv",encoding='unicode_escape')
df.head()

,job_title,hh_title,age,salary,exp. period,title of exp.
0,data analyst,Data analyst,22.0,NaN,2.67,Data Analyst
1,data analyst,Data Analyst,21.0,NaN,0.83,Junior Data Analyst
2,data analyst,Data Analyst,30.0,NaN,7.50,Data Analyst
3,data analyst,Data Analyst,24.0,NaN,4.92,Data Analyst
4,data analyst,Data Analyst,27.0,450000.0,3.25,Business Intelligence Analyst

In [32]:
df.describe()

              age        salary  exp. period
count  950.000000  2.940000e+02   1000.00000
mean    26.556842  5.353548e+05      4.52424
std      6.690700  3.476849e+05      5.04250
min     17.000000  8.600000e+02      0.00000
25%     22.000000  2.500000e+05      1.08000
50%     25.000000  5.000000e+05      3.04500
75%     29.000000  8.000000e+05      6.58000
max     56.000000  1.505000e+06     28.33000

In [33]:
df.shape

(1000, 6)

In [34]:
df.isnull().sum()

job_title          0
hh_title           0
age               50
salary           706
exp. period        0
title of exp.      0
dtype: int64

In [35]:
df['age'].mean()

26.556842105263158

In [36]:
df.fillna({'age':df['age'].mean()}, inplace = True)

In [37]:
df.fillna({'salary':df['salary'].mean()}, inplace = True)

In [38]:
df.head()

,job_title,hh_title,age,salary,exp. period,title of exp.
0,data analyst,Data analyst,22.0,535354.761905,2.67,Data Analyst
1,data analyst,Data Analyst,21.0,535354.761905,0.83,Junior Data Analyst
2,data analyst,Data Analyst,30.0,535354.761905,7.50,Data Analyst
3,data analyst,Data Analyst,24.0,535354.761905,4.92,Data Analyst
4,data analyst,Data Analyst,27.0,450000.000000,3.25,Business Intelligence Analyst

2. Мы будем работать только со столбцами ['job_title', 'age', 'salary', 'exp. period']. Сохраните только их.

In [39]:
df.drop(columns = ['hh_title', 'title of exp.'], axis = 1, inplace = True)

In [40]:
df.head()

      job_title   age         salary  exp. period
0  data analyst  22.0  535354.761905         2.67
1  data analyst  21.0  535354.761905         0.83
2  data analyst  30.0  535354.761905         7.50
3  data analyst  24.0  535354.761905         4.92
4  data analyst  27.0  450000.000000         3.25

3. Создайте переменную Х, которая содержит данные датасета без столбца 'job_title'.

In [41]:
X = df.drop('job_title', axis = 1)
X

           age         salary  exp. period
0    22.000000  535354.761905         2.67
1    21.000000  535354.761905         0.83
2    30.000000  535354.761905         7.50
3    24.000000  535354.761905         4.92
4    27.000000  450000.000000         3.25
..         ...            ...          ...
995  51.000000  535354.761905        25.42
996  22.000000  535354.761905         1.58
997  42.000000  535354.761905         9.33
998  26.556842  535354.761905        16.08
999  19.000000  535354.761905         0.33

[1000 rows x 3 columns]

4. Создайте переменную y, которая содержит только данные столбца 'job_title'.

In [42]:
y = df['job_title']
y

0      data analyst
1      data analyst
2      data analyst
3      data analyst
4      data analyst
           ...
995             sql
996             sql
997             sql
998             sql
999             sql
Name: job_title, Length: 1000, dtype: object

5. Разделите датасеты Х и у на тренировочные и тестовые, где train_size будет равен 80%. На забудьте использовать функцию stratify.

In [43]:
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split

In [44]:
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, random_state = 42, stratify = y)

In [45]:
X_train

           age          salary  exp. period
431  26.556842   600000.000000         3.25
744  19.000000   535354.761905         0.00
793  17.000000   535354.761905         2.33
912  38.000000   500000.000000        11.42
861  38.000000  1000000.000000         1.42
..         ...             ...          ...
47   21.000000   535354.761905         1.17
723  22.000000   535354.761905         1.17
302  24.000000   535354.761905         1.67
139  29.000000   535354.761905         6.92
230  34.000000   535354.761905         9.58

[800 rows x 3 columns]

6. Обучите сначала модель с помощью алгоритма GaussianNB.

In [46]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [47]:
model.fit(X_train,y_train)

GaussianNB()

7. Протестируйте обученную модель на тестовых данных, и выведите на экран точность модели.

In [48]:
y_model = model.predict(X_test)

In [49]:
from sklearn.metrics import accuracy_score
accuracy_score (y_test,y_model)

0.255

8. Используйте перекрестную проверку модели. Разбейте данные на десять групп и по очереди используйте каждую из них для оценки обучения модели. Выведите на экран среднюю точность модели.

In [53]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model,X,y, cv=10)
scores

array([0.24, 0.33, 0.24, 0.33, 0.24, 0.33, 0.24, 0.33, 0.24, 0.33])

In [54]:
scores.mean()

0.28500000000000003

9. Затем обучите модель с помощью алгоритма KNeighborsClassifier с количеством n_neighbors равным 3.

In [58]:
from sklearn.neighbors import KNeighborsClassifier
model1 = KNeighborsClassifier(n_neighbors = 3)
model1.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

10. Протестируйте обученную модель на тестовых данных, и выведите на экран точность модели.

In [59]:
y1_model = model1.predict(X_test)
accuracy_score(y_test, y1_model)

0.835

11. Используйте перекрестную проверку модели. Разбейте данные на десять групп и по очереди используйте каждую из них для оценки обучения модели. Выведите на экран среднюю точность модели.

In [61]:
scoresKN = cross_val_score(model1, X,y, cv=10)
scoresKN

array([0.89, 0.84, 0.89, 0.84, 0.88, 0.84, 0.88, 0.85, 0.88, 0.85])

In [62]:
scoresKN.mean()

0.8640000000000001